html,body
{
    margin: 0;
    padding: 0;
}
.Title
{
    text-align: center;
    max-width: 25%;
    margin: 0 auto;
    margin-top: 100px;
    border: 4px solid;
    border-color: black;
    border-radius: 50px;
    padding-bottom: 10px;
}
.btn
{
    margin-top: 10px;
    border: 2px solid;
    border-radius: 50px;
    font-size: 1em;
    background-color: white;
}
.btn:hover
{
    background-color: rgb(199, 199, 199);
}
#addItem{
    border: 4px solid black;
    border-radius: 50px;
    padding-left: 3px;
}
section
{
    display:flex;
    justify-content: center;
}
.left, .right
{
    flex-grow:1;
    margin-top: 40px;
    border: 4px solid;
    border-radius: 50px;
    padding-left: 5px;
    padding-bottom: 50px;
    padding-right: 5px;
    min-height: 10px;
    max-width: 45%;
    margin-bottom: 40px;
}
.left
{
    margin-left: 5px;
    border-right: 2px solid;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 5px;
}
.right
{
    margin-right: 5px;
    border-left: 2px solid;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 5px;
}
.sec-title
{
    text-align: center;
    display: inline;
}
.item 
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 1px;
}
.item span
{
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}
.item button{
    margin-top: 0;
}